<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title>Test</title>
    </head>

    <body>

        <header class="container">
            <section class="navbar">
                <h1 id="logo"> <i class="fas fa-brain"></i>SentIntel</h1>
                <div class="">
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#analyze">Analysis</a></li>
                    </ul>
                </div>
            </section>
            <section class="header-container">
                <div>

                </div>
            </section>
        </header>

        <main>
            <section>
                <div>
                    <h2 id="about">About Sentiment Analysis with NLP</h2>
                    <p>As more and more content is created and shared online through social media, blogs, news outlets, etc. the need and desire for businesses to mine this information, in order to gain business insight from it, has also increased.
                    <p> While in the past businesses had to rely on traditional formats like surveys to gain insight into their customers’ opinions, nowadays it is possible to extract meaning from text via Natural Language Processing.</p>
                </div>
            </section>
            
            <section>
                <h2 id="analyze">Analyze your data</h2>
                <p>If you would like to detect the sentiment of a document in terms of polarity and figure out if its tone is positive, negative or neutral, simply paste the URL to the article in the form below. </p>
                <form id="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Please, enter URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2>Content Analysis Results</h2>
                <h3>Polarity:</h3>
                <div id="polarity"></div>
                <h3>Polarity Confidence:</h3>
                <div id="polarityConfidence"></div>
                <h3>Article Text:</h3>
                <div id="articleTxt"></div>
            </section>
        </main>

        <footer>
            <p>Sentiment analysis powered by <a href="https://aylien.com/" target="_blank">AYLIEN</a>.</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
