<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                <ul>
                    <li>About</li>
                    <li>Analysis</li>
                </ul>
            </div>
        </header>

        <main>
            <section>
                <div>
                    <h2>About NLP</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex dolore consectetur corporis rem maxime reiciendis iure dolorem voluptatum aut?</p>
                </div>
            </section>
            
            <section>
                <h2>Analyze your data</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tempora quam quia quasi sint, culpa iste facilis illum numquam magnam?</p>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Please, enter URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2>Content Analysis Results</h2>
                <h3>Polarity:</h3>
                <div id="polarity"></div>
                <h3>Polarity Confidence:</h3>
                <div id="polarityConfidence"></div>
                <h3>Article Text:</h3>
                <div id="articleTxt"></div>
            </section>
        </main>

        <footer>
            <p>Content analysis powered by <a href="https://aylien.com/" target="_blank">AYLIEN</a>.</p>
        </footer>

    </body>
</html>
